@using MvcCvMiniProje.Models.entities
@model List<tbl_iletişim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{string renk = ""; }
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <!-- /.col -->
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header p-2">

                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <h4 style="padding-left:60px">Sertifikalar:</h4>
                            <div class="tab-pane" id="timeline">
                                <!-- The timeline -->
                                <div class="timeline timeline-inverse">
                                    <!-- timeline time label -->
                                    <!-- /.timeline-label -->
                                    <!-- timeline item -->
                                    @foreach (var x in Model)
                                    {
                                        if (x.Id % 2 == 0)
                                        {
                                            renk = "fas fa-envelope bg-green";
                                        }
                                        if (x.Id % 2 != 0)
                                        {
                                            renk = "fas fa-envelope bg-danger";
                                        }
                                        <div>
                                            <i class="@renk"></i>
                                            <div class="timeline-item">
                                                <span class="time"><i class="far fa-calendar-alt"></i>@(((DateTime)x.Tarih).ToString("dd-MMM-yyyy"))</span>
                                                <h3 class="timeline-header"><a href="#">@x.Mail</a></h3>
                                                <div class="timeline-body">
                                                    @x.Mesaj
                                                </div>
                                               
                                            </div>

                                        </div>
                                    }
                                    <!-- END timeline item -->
                                    <!-- timeline item -->
                                    <!-- END timeline item -->
                                    <!-- timeline item -->
                                    <!-- END timeline item -->
                                    <!-- timeline time label -->
                                    <!-- /.timeline-label -->
                                    <!-- timeline item -->
                                    <!-- END timeline item -->

                                </div>
                            </div>
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
</body>
</html>
